@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #221f1d;
    color: white;
    height: 100vh;
}
